# Desafio Santader (ETL em Python)

**Contexto:** Você é um cientista de dados no Santander e recebeu a tarefa de envolver seus clientes de maneira mais personalizada. Seu objetivo é usar o poder da IA Generativa para criar mensagens de marketing personalizadas que serão entregues a cada cliente por e-mail.

**Condições do Problema:**

1. Você recebeu uma planilha simples do setor de marketing da Santander, em formato CSV ('data_cliente.csv'), com uma lista de cliente do banco.

2. O seu trabalho é fazer uma limpeza na planilha para obter os dados de cada cliente valido.

3. Após obter os dados dos clientes, você vai usar a API do ChatGPT (OpenAI) para gerar uma mensagem de marketing personalizada para cada cliente. Essa mensagem deve enfatizar a importância dos investimentos.

4. Uma vez que a mensagem para cada cliente esteja pronta, você vai enviar essas informações de volta para a um bando de dados onde o setor de marketing podera acessar.

In [42]:
# Importando as Bibliotecas
import pandas as pd

## Fazendo a extração de dados da planilha.

In [43]:
# Lendo um arquivo CSV
df = pd.read_csv("data_cliente.csv")
df.head()

,customer_id,title,first_name,last_name,suffix,email,gender,ip_address,phone,street_address,city,state,postal_code,latitude,longitude,date_added
0,716,NaN,Jarred,Bester,NaN,jbesterjv@nih.gov,M,216.51.110.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-19 00:00:00
1,1228,NaN,Ag,Smerdon,NaN,asmerdony3@house.gov,F,117.161.100.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-23 00:00:00
2,1876,NaN,Giuditta,Eim,NaN,geim1g3@typepad.com,F,222.23.231.134,202-227-5491,NaN,NaN,NaN,NaN,NaN,NaN,2014-03-13 00:00:00
3,1991,NaN,Nichole,Rosle,NaN,nrosle1ja@ning.com,M,37.231.217.159,614-146-7408,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-24 00:00:00
4,2275,NaN,Chic,Bryning,NaN,cbryning1r6@pcworld.com,M,117.177.14.194,512-939-4727,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-05 00:00:00

In [44]:
# Quantidades de Linhas e Colunas
#df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  int64
 1   title           2471 non-null   object
 2   first_name      50000 non-null  object
 3   last_name       50000 non-null  object
 4   suffix          532 non-null    object
 5   email           50000 non-null  object
 6   gender          50000 non-null  object
 7   ip_address      50000 non-null  object
 8   phone           34692 non-null  object
 9   street_address  44533 non-null  object
 10  city            44533 non-null  object
 11  state           44533 non-null  object
 12  postal_code     44533 non-null  float64
 13  latitude        44533 non-null  float64
 14  longitude       44533 non-null  float64
 15  date_added      50000 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 6.1+ MB

## Fazendo as Transformações dos dados.

In [45]:
# Selicionando as colunas necessarias.
df_clientes = df[['customer_id', 'first_name', 'last_name', 'email', 'gender', 'date_added']]

# Inserindo uma nova coluna que vai guardar a mensagem para cada cliente
df_clientes.insert(6,'Menssagem','')

# Selecionando as 5 primeiras linhas para teste
df_clientes = df_clientes.loc[0:2,['customer_id', 'first_name', 'last_name', 'email', 'gender', 'date_added', 'Menssagem']]
df_clientes.head(10)

,customer_id,first_name,last_name,email,gender,date_added,Menssagem
0,716,Jarred,Bester,jbesterjv@nih.gov,M,2018-09-19 00:00:00,
1,1228,Ag,Smerdon,asmerdony3@house.gov,F,2021-12-23 00:00:00,
2,1876,Giuditta,Eim,geim1g3@typepad.com,F,2014-03-13 00:00:00,

In [46]:
# Usando API do ChatGPT para criar menssagem para cada cliente
openai_api_key = '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'

import openai


openai.api_key = openai_api_key

for i, row in df_clientes.iterrows():
    nome = df_clientes.first_name[i]
    completion = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[
            {
                "role": "system",
                "content": "Você é um especialista em markting bancário."
            },
            {
                "role": "user",
                "content": f"Crie uma mensagem para o cliente {nome} sobre a importância dos investimentos (máximo de 100 caracteres)"
            }
        ]
    )
    msg = completion.choices[0].message.content.strip('\"')
    df_clientes.at[i, 'Menssagem'] = msg

df_clientes

,customer_id,first_name,last_name,email,gender,date_added,Menssagem
0,716,Jarred,Bester,jbesterjv@nih.gov,M,2018-09-19 00:00:00,"Invista para o futuro, Jarred!"
1,1228,Ag,Smerdon,asmerdony3@house.gov,F,2021-12-23 00:00:00,"Invista hoje, colha amanhã. #FuturoSeguro"
2,1876,Giuditta,Eim,geim1g3@typepad.com,F,2014-03-13 00:00:00,Invista no seu futuro e conquiste seus objetiv...

## Enviando para o Banco de Dados

In [47]:
import sqlite3

In [48]:
connection = sqlite3.connect('DioSantander.db')
cursor = connection.cursor()

for i, row in df_clientes.iterrows():
    customer_id = df_clientes.customer_id[i]
    first_name = df_clientes.first_name[i]
    last_name = df_clientes.last_name[i]
    email = df_clientes.email[i]
    gender = df_clientes.gender[i]
    date_added = df_clientes.date_added[i]
    Menssagem = df_clientes.Menssagem[i]

    query = f"INSERT INTO clientes (customer_id, first_name, last_name, email, gender, date_added, Menssagem) VALUES ('{customer_id}', '{first_name}', '{last_name}', '{email}', '{gender}', '{date_added}', '{Menssagem}')"

    cursor.execute(query)

connection.commit()
connection.close()